@{
    ViewBag.Title = "Home Page";
}

<h4>Bienvenido</h4>
<div class="row mt-3">
    <div class="col-sm-9">
        <div class="card mb-3" id="idGrafica" hidden="hidden">
            <div class="card-body text-center" style="height:405px">
                <h5 class="card-title text-primary">Cantidad de prórrogas realizadas en los últimos 6 módulos</h5>
                <canvas id="myChart" style="width:100%; height:355px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row" id="columnaDerecha">

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        CargarDatos();
        Estadisticas();
    });

    function CargarDatos() {
        $("#columnaDerecha").html("");
        $.getJSON('@Url.Action("CargarDatos", "Home")', function (o) {
            $("#columnaDerecha").html(o);
        });
    }

    function Estadisticas() {
        $.getJSON('@Url.Action("Estadisticas", "Home")', function (o) {
            $("#idGrafica").prop("hidden", false);
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Cantidad de prórrogas realizadas en los últimos 6 módulos'],
                    datasets: [
                        {
                            label: o.modulo1,
                            data: [o.cantidadModulo1],
                            backgroundColor: [
                                'rgba(127, 179, 213, 0.2)'
                            ],
                            borderColor: [
                                'rgba(127, 179, 213, 1)'
                            ],
                            borderWidth: 1
                        },
                        {
                            label: o.modulo2,
                            data: [o.cantidadModulo2],
                            backgroundColor: [
                                'rgba(118, 215, 196, 0.2)'
                            ],
                            borderColor: [
                                'rgba(118, 215, 196, 1)'
                            ],
                            borderWidth: 1
                        },
                        {
                            label: o.modulo3,
                            data: [o.cantidadModulo3],
                            backgroundColor: [
                                'rgba(195, 155, 211, 0.2)'
                            ],
                            borderColor: [
                                'rgba(195, 155, 211, 1)'
                            ],
                            borderWidth: 1
                        },
                        {
                            label: o.modulo4,
                            data: [o.cantidadModulo4],
                            backgroundColor: [
                                'rgba(241, 148, 138, 0.2)'
                            ],
                            borderColor: [
                                'rgba(241, 148, 138, 1)'
                            ],
                            borderWidth: 1
                        },
                        {
                            label: o.modulo5,
                            data: [o.cantidadModulo5],
                            backgroundColor: [
                                'rgba(178, 186, 187, 0.2)'
                            ],
                            borderColor: [
                                'rgba(178, 186, 187, 1)'
                            ],
                            borderWidth: 1
                        },
                        {
                            label: o.modulo6,
                            data: [o.cantidadModulo6],
                            backgroundColor: [
                                'rgba(46, 204, 113, 0.2)'
                            ],
                            borderColor: [
                                'rgba(46, 204, 113 , 1)'
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    }
</script>